/* Color Palette: (OUTDATED)

    #585b6d -> Dark Grey
    #999f9a -> Grey
    #abc9be -> Pastel Green
    #d5a5a5 -> Pink
    #e8d7bd -> Biege
*/

/* New color palette:
    background  -> #f7f7f7
    top bar     -> #b8bf95
*/


/**************    General    **************/

/*-- Font styles and sizes --*/
* {
    /*font-family:*/
    font-size: 1.2rem;
    color: #3b3b3b;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Tajawal', sans-serif;
    margin-bottom: 1rem;
}
h1, h2, h3, h4, h5 {
    color: #4c4c4c;
}
h6 {
    color: #3b3b3b;  
}
p {
    font-size: 1.4rem;
}
h2 {
    font-style: bold;
}
.larger-text {
    font-size: 160%;
    color: inherit;
    font-family: sans-serif;
    font-weight: 
}
/*-- Backgrounds --*/
.bg, body {
    background-color: #f7f7f7;
}
footer {
    background-color: #585b6d;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    font-size: 90%;
    padding: 2%;
    /*background-color:*/

}

/*-- Buttons and Links --*/
button {
    background-color: #d5a5a5;
    color: #ededed;
}
.button:hover {
    background-color: #5f5d5d;
}
.button {
   color: white;
   font-weight: bold;
   padding: .6rem;
   border-radius: 4px;
}
.button.primary {
   background-color: #8b9885;
}
.button.primary:hover {
    background-color: #6c7b67;
}
.button.secondary {
   background-color: #f7f7f7;
   color: #8b9885;
   border-color: #8b9885;
   border-width: 2px;
   border-style: solid;
   font-weight: bold;
}
.button.thin {
    padding: .4em .7em;
}
.button.secondary:hover {
    background-color: #e4e4e4;
    color: #8b9885;
}
.delete-btn { /* For Formset */
    margin-right: .6rem;
}
a {
    color: #606060;
}

a:hover, a:focus {
    color: black; }

/*-- Other general styles --*/

ul {
    list-style: none;
}

/**************     Forms     **************/
input[type=text], select{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input:disabled {
  background: #dddddd;
}

input:disabled-label {
  color: #ccc;
}
input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none
}
.error {
    border-color: red;
}

/*---  Person Formset  ---*/
.person-form > table > tbody {
    border: none;
}
.person-form > table > tbody > tr, .person-form table > tbody > tr > td {
    background-color: transparent;
}
.person-form > tbody > tr {
    /*border-bottom: 2px solid black;*/
}
/*.person-form > tbody > tr:last-child td{
    background-color: #dddddd;
    border: none;
}*/
div.person-form {
    border-radius: 6px;
    background-color: white;
    padding: .8rem .3rem .5rem .3rem;
    margin-bottom: 1rem;

}

/**************    Top Bar    **************/

.top-bar, .top-bar > div > ul {
    /*background-color: #999f9a;*/
    background-color: #e8d7bd;
}
@font-face {
    font-family: 'Adobe-arabic-shin';
    src: url("/static/fonts/Adobe-arabic-shin.ttf") format("truetype"), local(Adobe-arabic-shin);
}
#title,  #title:hover {
    font-family: 'Adobe-arabic-shin', sans-serif;
    color: white;
    font-size: 4rem;
    padding: 0;
}
li.menu-text {
    margin-top: 0;
    padding-top: 0 !important;
    padding-bottom: 1rem !important;
}
#logo {
    width: 4rem;
    height: 4rem;
    margin-left: 0.7rem;
    margin-right: 1rem;
}
.search-bar {
    min-width: 100%;
    margin-bottom: 10rem;
}


/**************    Homepage   **************/
.introduction {
    border-style: solid;
    border-width: thin;
    border-color: #abc9be;
    padding: 1rem;
    margin: 0.5rem;
    
}
.hero {
    background-color: #e8d7bd ;
    padding: 2rem 2rem;
}

.error {
    border-color: red;
}

.main {
    padding: 5%;
    margin: 1%;
}

.newtr {
    margin-left: 10%;
    text-align: center;
    height: 50px;
}
/**************  Tree Detail  **************/
.browse-list-root, .browse-list-root > a {
    font-size: 1.8rem;
    color: #3b3b3b;
    text-decoration: underline;
}
.browse-list-0 > a {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #888d89;
    padding-top: 0.4rem;
}
.browse-list-0, .browse-list-1, .browse-list-2, .browse-list-3, .browse-list-4 {
    margin-bottom: .1rem;
}
.browse-list-1 > a {
    font-size: 1.2rem;
    color: #999f9a;
    font-weight: bold;
}
.browse-list-2 > a {
    font-size: 1rem;
    font-weight: bold;
    color: #999f9a;
} 
.browse-list-3 > a {
    font-size: 0.9rem;
    font-weight: bold;
    color: #b9beba;
}
.browse-list-4 > a {
    font-size: 0.8rem;
    color: #babea0;
    font-weight: bold;
}
.browse-list-5 > a {
    font-size: 0.6em;
    color: #c9cdad;
    font-weight: bold;
}

/************** Person Detail **************/





