
* {
    /*font-family:*/
    font-size: 1.2rem;
    color: #3b3b3b;
}
/* Element Selectors ------------ */

/* Color Palette:
    #585b6d -> Dark Grey
    #999f9a -> Grey
    #abc9be -> Pastel Green
    #d5a5a5 -> Pink
    #e8d7bd -> Biege
*/

.bg, body {
    background-color: #e6e6e6;
}


.top-bar, .top-bar > div > ul {
    background-color: #999f9a;
}
.menu-text, .menu > li.menu-text {
    color: white;
    font-size: 2rem;
    font-family: 'Tajawal', sans-serif;
    margin-top: .5rem;
}
#logo {
    width: 4rem;
    height: 4rem;
    margin-left: 0.7rem;
    margin-right: 1rem;
}
.search-bar {
    min-width: 100%;
    margin-bottom: 10rem;
}

/*div {
   margin: 5%;

}*/

/*p {

}*/



h1, h2, h3, h4, h5, h6 {
    font-family: 'Tajawal', sans-serif;
    margin-bottom: 1rem;
}
h1, h2, h3, h4, h5 {
    color: #888d89;
}
h6 {
    color: #3b3b3b;  
}
p {
    font-size: 1.4rem;
}

h2 {
    font-style: bold;
}
/* a {
    color: #606060;
}
a:hover, a:focus {
    color: black; }
*/

button {
    background-color: #d5a5a5;
    color: #ededed;
}
.button:hover {
    background-color: #ad8c8c;
}


footer {
    color: #585b6d;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    font-size: 90%;
    padding: 2%;
    /*background-color:*/

}


/* Class Selectors ------------ */

.title {
    color: #e8d7bd ;
    padding: 2%;
    font-size: 30px;
    font-style: bold;

}


.successbutton {
    background-color: #d5a5a5;
    color: #e8d7bd;
}

.button {
   background-color: #d5a5a5;
   color: #ededed;
   font-weight: bold;
   padding: 0.6rem;
}
/* iD Selectors ------------ */


/*form {
    margin-top: 15%;
}

/*table {

}*/

.success.button {
    background-color: #d5a5a5;
    color: #e8d7bd; 
}

.introduction {
    border-style: solid;
    border-width: thin;
    border-color: #abc9be;
    padding: 1rem;
    margin: 0.5rem;
    
}

.browse-list-root, .browse-list-root > a {
    font-size: 1.8rem;
    color: #3b3b3b;
    text-decoration: underline;
}
.browse-list-0 > a {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #888d89;
    padding-top: 0.4rem;
}
.browse-list-0, .browse-list-1, .browse-list-2, .browse-list-3, .browse-list-4 {
    margin-bottom: .1rem;
}
.browse-list-1 > a {
    font-size: 1.2rem;
    color: #999f9a;
    font-weight: bold;
}
.browse-list-2 > a {
    font-size: 1rem;
    font-weight: bold;
    color: #999f9a;
} 
.browse-list-3 > a{
    font-size: 0.9rem;
    font-weight: bold;
    color: #b9beba;
}
.browse-list-4 > a{
    font-size: 0.8rem;
    color: #babea0;
    font-weight: bold;
}
.browse-list-5 > a{
    font-size: 0.6em;
    color: #c9cdad;
    font-weight: bold;
}

input:disabled {
  background: #dddddd;
}

input:disabled-label {
  color: #ccc;
}

.error {
    border-color: red;
}