{% load staticfiles %}
<html class="no-js" lang="ar" dir="rtl">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sindian: Family Tree App</title>
        <link href="https://fonts.googleapis.com/css?family=Lateef|Tajawal" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'javascript/app.js' %}"></script>
	</head>
<!--<div class="grid-x">
        <div class="cell small-2 medium-3 large-4">
    </div>
    <div class="cell small-8 medium-6 large-4">
    </div>
   <div class="grid-x">
    <div class=" cell small-2 medium-3 large-4 "> 
    </div>
       
    </div> 

-->

    <body>
        <!-- Top -->
        {% block top_bar %}
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" id="logo"></a>
                    <li class="menu-text"><a href="{% url 'index' %}"><h4>سنديان</h4></a></li>
                </ul>
                
            </div>
            <div class="top-bar-right">
                    {% if not person == None %}
                    {% if search %}
                    <form type="GET" action="{% url 'person_search' tree_id=person.tree.id %}">
                        <ul class="menu">
                            <li><input type="text" name="query" placeholder="ابحث" data-hide-for="small"></li>
                        </ul>
                    </form>
                    {% endif %}
                    {% endif %}

            </div>
        </div>
        {% endblock top_bar %}
        
        
        <!-- content -->
         
       
                    {% block content %}
                    {% endblock content %}
         
              
        
        <!-- Footer -->
        <footer>
        
        </footer>

    </body> 
</html>