{% load staticfiles %}
{% load crispy_forms_tags %}

<html class="no-js" lang="ar" dir="rtl">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sindian: Family Tree App</title>
        <link href="https://fonts.googleapis.com/css?family=Lateef|Tajawal" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
	</head>

    <body>
        <!-- Top Bar -->
        {% block top_bar %}
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text"><a href="{% url 'index' %}" id="title">سند  يا  ن</a></li>
                </ul>
                
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    {% if request.session.tree_id %}
                    <li>
                        <a href="{% url 'tree_detail' tree_id=request.session.tree_id %}">شجرة {{request.session.tree_name}}</a>
                        <ul class="menu">
                            <li><a href="">الإحصاءات</li>
                            <li><a href="{% url 'tree_logout' %}">تسجيل الخروج</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if not person == None %}
                    {% if search %}
                    <li><form type="GET" action="{% url 'person_search' tree_id=person.tree.id %}"><input type="text" name="query" placeholder="ابحث" data-hide-for="small"></form></li>
                    {% endif %}
                    {% endif %}
                </ul>
                    
                    

            </div>
        </div>
        {% endblock top_bar %}
        
        
        <!-- Content -->
        {% block content %}
        {% if layout_header %}
        <div class="grid-container bg">
            <br>
            <div class="grid-x grid-margin-x">
                <div class="cell small-1">
                </div>
                <div class="cell small-10">
        {% endif %}
                <!-- Position of content -->
        {% if layout_footer %}
                </div>
                <div class="cell small-1">
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock content %}


        <script src="{% static 'javascript/vendor/jquery.js' %}"></script>
        <script src="{% static 'javascript/vendor/what-input.js' %}"></script>
        <script src="{% static 'javascript/vendor/foundation.js' %}"></script>
        <script src="{% static 'javascript/vendor/jquery.formset.js' %}"></script>
        <script src="{% static 'javascript/app.js' %}"></script>
        <script>
            $('.person-form').formset({
                addText: '<span class="larger-text">&oplus;  </span> إضافة استمارة جديدة',
                deleteText: '<span class="larger-text">&#8854;  </span> حذف الاستمارة',
                deleteCssClass: 'button delete-btn alert thin',
                addCssClass: 'button secondary thin'
            });
        </script>
    </body> 
</html>