{% load staticfiles %}
<html class="no-js" lang="ar" dir="rtl">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Family Tree Website</title>
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">

	</head>
<!--<div class="grid-x">
        <div class="cell small-2 medium-3 large-4">
    </div>
    <div class="cell small-8 medium-6 large-4">
    </div>
   <div class="grid-x">
    <div class=" cell small- 2 medium-3 large-4 "> 
    </div>
       
    </div> 

-->
<div>
     <body>
         <header>
            <h1 class="title">سنديان</h1>
            <img ref: "">
         </header>

       {% block content %}
         {% endblock %}

     </body>
</div>

    
</html>
