{% extends 'app/base.html' %}

{% block content %}

<h1> إنشاء شجرة جديدة </h1>

<form action="" method="post">
           <h2> إنشاء شجرة عائلة</h2>

           <label for="name">اسم العائلة:</label>
           <input type="text" id="name" name="family_name">

           <label for="username">اسم المستخدم:</label>
           <input type="text" id="username" name="family_username">

           <label for="password">كلمة المرور:</label>
           <input type="password" id="password" name="family_password">
           
           <button>إضافة</button>

           </form>
{% endblock %}
