{% extends 'app/base.html' %}
{% block top_bar %}
    {% with search=False %}
    {{ block.super}}
    {% endwith %}
{% endblock top_bar %}

{% block content %}

        <!-- Hero Section, 'introduction + big button to create new tree' -->
        <section class= "hero">
          <p> سنديان هو موقع هدفه زيادة الروابط بين أفراد الأسرة وذلك بمساعدة كل أسرة على إنشاء قاعدة بيانات تحتوي على أسماء جميع أفراد الأسرة وعلاقاتهم ببعض</p>
          <a href="{% url 'tree_new' %}" class="button newtr"> أنشئ شجرتك الآن</a>
        </section>

      <!-- Second section, Search -->
      <section class= "main">
        <form type="GET" action="{% url 'tree_search' %}">
               <fieldset>
                   <h2> ابحث عن شجرة</h2>
                   <input class="input-group input-group-rounded" type="text" id="search" name="query" placeholder="ادخل اسم عائلتك">
                   <button type="button" class="success button">بحث</button>
               </fieldset>
           </form>
      </section>

      <!-- Third Section, 'Who are we'  -->

{% endblock content %} 

