{% extends 'app/base.html' %}

{% block content %}

<div class="grid-container">
    <div class="grid-y">
        <div>
            <div class="cell small-6">
                <p class="introduction"> سنديان هو موقع هدفه زيادة الروابط بين أفراد الأسرة وذلك بمساعدة كل أسرة على إنشاء قاعدة بيانات تحتوي على أسماء جميع أفراد الأسرة وعلاقاتهم ببعض</p>
            </div>
        </div>
        <div class="cell small-12 large-10">
            <form class="form">
                <fieldset>
                    <h2> ابحث عن شجرة</h2>
                    <input type="text" id="search" name="name_search">
                    <button type="button" class="success button">بحث</button>
                </fieldset>
                <div>
                    <div>
                        <a href="" class="button">استعراض كل الأشجار</a> <!-- Add browse page refrence -->
                    </div>
                    <div>
                        <a href="{% url 'tree_new' %}" class="button">إضافة شجرة جديدة</a>
                    </div>
                </div>
           </form>
        </div>
    </div>
</div>

{% endblock %}

