{% extends 'app/base.html' %}

{% block content %}

<!-- <div class="grid-x grid-margin-x">
  <div class="medium-6 large-4 cell"></div>
  <div class="medium-6 large-8 cell"></div>
</div> -->
<div>
    <h1> زواج جديد </h1>
        <div>
            <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="إنشاء">
            </form>
            <a href="{% url 'marriage_to_new_person' person_id=person_id %}" class="button">الشخص غير موجود في الشجرة</a>
            {% endblock %}

        </div>
</div>


