{% extends 'app/base.html' %}
{% block top_bar %}
    {% with search=False %}
    {{ block.super}}
    {% endwith %}
{% endblock top_bar %}

{% block content %}
{% with layout_header=True %}
{{ block.super }}
{% endwith %}

<div>
    <h2>زواج جديد لشخص خارج العائلة </h2>

    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Submit" class="button">إضافة</button>
    </form>
</div>

{% with layout_footer=True %}
{{ block.super }}
{% endwith %}
{% endblock content %}