{% extends 'app/base.html' %}
{% block top_bar %}
    {% with search=False %}
    {{ block.super}}
    {% endwith %}
{% endblock top_bar %}

{% block content %}
{% with layout_header=True %}
{{ block.super }}
{% endwith %}

<div>
    <h1> زواج جديد </h1>
        <div>
            <form method="POST">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" value="Submit" class="button">إنشاء</button>
            </form>
            <a href="{% url 'marriage_to_new_person' person_id=person_id %}" class="button">الشخص من خارج العائلة</a>

        </div>
</div>

{% with layout_footer=True %}
{{ block.super }}
{% endwith %}
{% endblock content %}