{% extends 'app/base.html' %}
{% block top_bar %}
    {% with search=False %}
    {{ block.super}}
    {% endwith %}
{% endblock top_bar %}

{% block content %}

<!-- <div class="grid-x grid-margin-x">
  <div class="medium-6 large-4 cell"></div>
  <div class="medium-6 large-8 cell"></div>
</div> -->
<div>
    <h1> زواج جديد </h1>
        <div>
            <form method="POST">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" value="Submit" class="button">إنشاء</button>
            </form>
            <a href="{% url 'marriage_to_new_person' person_id=person_id %}" class="button">الشخص من خارج العائلة</a>
            {% endblock %}

        </div>
</div>


