{% extends 'app/base.html' %}
{% block top_bar %}
    {% with search=False %}
    {{ block.super}}
    {% endwith %}
{% endblock top_bar %}

{% block content %}

<div class="grid-x">
    <div class="cell small-12">
        <h2> شجرة عائلة {{ root.tree.name }}</h2>
            <form type="GET" action="{% url 'person_search' tree_id=root.tree.id %}">
                <ul class="menu">
                    <li><input type="text" name="query" placeholder="ابحث" data-hide-for="small"></li>
                    <li><button type="button" class="success button">بحث</button></li>
                </ul>
            </form>
    </div>
</div>
<hr>
<div class="grid-x">
    <div class="cell small-12">
        <h4> تصفح بالفرع:</h4>
    </div>
</div>
<div class="grid-x">
    <div class="cell small-12 large-10 large-offset-2">
        <span>اختر عدد الأجيال للتصفح</span>
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="{% url 'tree_detail' tree_id=tree.pk browse_depth=2 %}">2</a></li>
            <li><a href="{% url 'tree_detail' tree_id=tree.pk browse_depth=3 %}">3</a></li>
            <li><a href="{% url 'tree_detail' tree_id=tree.pk browse_depth=4 %}">4</a></li>
            <li><a href="{% url 'tree_detail' tree_id=tree.pk browse_depth=5 %}">5</a></li>
        </ul>
        <p class="browse-list-root">أبناء <a href="{% url 'person_detail' person_id=root.pk %}">{{ root.name }}:</a></p>
        {% if not root.has_children %}
        <a href="{% url 'person_detail' person_id=root.pk %}" class="button">إضافة أبناء</a>
        {% endif %}
        {% for d in desc_list %}
        <p class="browse-list-{{ d.2 }}"><a href="{% url 'person_detail' person_id=d.1.pk %}">{{ d.0 }} {{ d.1.first_name }}</a></p>
        {% endfor %}
    </div>
</div>

{% endblock %}