{% extends 'app/base.html' %}
{% block top_bar %}
    {% with search=False %}
    {{ block.super}}
    {% endwith %}
{% endblock top_bar %}

{% with layout_header=True %}
{{ block.super }}
{% endwith %}
{% block content %}

<h4>الدخول إلى شجرة عائلة {{tree_name}}</4>

{% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %}
<form method="POST">{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="success button">دخول</button>
</form>

{% with layout_footer=True %}
{{ block.super }}
{% endwith %}
{% endblock content %}