{% extends 'app/base.html' %}

{% block content %}
<h3>Tree name: {{ tree.name }}</h3>
<a href="{% url 'person_new' pk=0 %}">Add new person</a>
{% endblock %}
<div>
            <h1> شجرة عائلة آل .....</h1>

            <form>
                <fieldset>
                    <input type="text" id="search" name="name_search">
                    <button>بحث</button>
                </fieldset>
            </form>

        </div>
        <div>
            <h2> تصفح بالفرع:</h2>
            <ul>
                <li> فرع ال..</li>
                <li>  فرع ال....</li>
            </ul>

        </div>
{% endblock %}