{% extends 'app/base.html' %}

{% block content %}
<h3>Tree name: {{ tree.name }}</h3>
{% if root == None %}
<a href="{% url 'tree_root_new' tree_id=tree.pk %}">Add Root Person</a>
{% else %}
{{ root.first_name }}
{% endif %}
<div>
    <h1> شجرة عائلة آل .....</h1>
        <form>
            <fieldset>
                <input type="text" id="search" name="name_search">
                <button>بحث</button>
            </fieldset>
        </form>
</div>
<div>
    <h2> تصفح بالفرع:</h2>
    <ul>
        <li> فرع ال..</li>
        <li>  فرع ال....</li>
    </ul>
</div>
{% endblock %}